/*
    默认内置样式主题，包含light 和 dark 两种模式
    后续自定义主题样式请同时提供light 和 dark 两种主题
*/

// header
header{
    &.light{
        background-color: rgb(119, 223, 255);
        & button{
            transition: all, 0.4s;
            color: black;
            background-color: rgb(0, 255, 251);
            box-shadow: 0 0 15px rgb(0, 255, 251),
                        0 0 20px rgb(68, 0, 255);
            &:hover{
                background-color: white;
                box-shadow: 0 0 15px rgb(255, 0, 191), 
                            0 0 20px rgb(168, 5, 255);
                cursor: pointer;
            }
        }
    }
    &.dark{
        background-color: rgb(62, 62, 62);
        & button{
            transition: all, 0.4s;
            color: white;
            background-color: rgb(49, 49, 49);
            box-shadow: 0 0 15px rgb(72, 0, 255), 
                        0 0 20px rgb(168, 5, 255);
            &:hover{
                background-color: deeppink;
                box-shadow: 0 0 15px rgb(255, 0, 191), 
                            0 0 20px rgb(168, 5, 255);
                cursor: pointer;
            }
        }
    }
}

// body全局
body{
    &.light{
        background-color: #c5e6ff;
        color: black;
        // 鼠标指针
        cursor: url("~/assets/cursors/blackcat.cur"), auto;
    }
    &.dark{
        background-color: #282828;
        color: white;
        cursor: url("~/assets/cursors/graycat.cur"), auto;
    }
    
    
}

// main
main{
    &.light{
        background-color: white;
    }
    &.dark{
        background-color: rgb(52, 52, 52);
    }
}

// components/card.vue
.theme-default-card{
    transition: box-shadow, 0.4s;
    &.light{
        box-shadow: 0 0 15px rgb(141, 141, 141);
        &:hover{
            box-shadow: 0 0 25px rgb(115, 0, 255);
        }
    }
    &.dark{
        box-shadow: 0 0 10px rgb(0, 229, 255);
        &:hover{
            box-shadow: 0 0 25px yellow;
        }
    }
}

.theme-default-login{
    &.light{
        .back{
            border: 3px solid deepskyblue;
            &:hover{
                background-color: aquamarine;
                cursor: pointer;
                color: black;
            }
        }
        button{
            background-color: rgb(0, 145, 255);
            border-radius: 7px;
            border: 3px solid deepskyblue;
            padding: 6px;
            font-size: 19px;
            width: fit-content;
            color: white;
            transition: all, 0.4s;
            &:hover{
                background-color: yellow;
                color: black;
                cursor: pointer;
            }
        }
        .form{
            background-color: rgba(179, 179, 179, 0.755);
        }

        input{
            outline-color: deepskyblue;
        }
    }
    &.dark{
        .back{
            border: 3px solid deeppink;
            &:hover{
                background-color: rgb(212, 0, 255);
                cursor: pointer;
            }
        }
        button{
            background-color: rgb(255, 0, 183);
            border-radius: 7px;
            border: 3px solid rgb(255, 141, 249);
            padding: 6px;
            font-size: 19px;
            width: fit-content;
            color: white;
            transition: all, 0.4s;
            &:hover{
                background-color: yellow;
                color: black;
                cursor: pointer;
            }
        }
        .form{
            background-color: rgba(69, 69, 69, 0.755);
        }

        input{
            outline-color: deeppink;
        }
    }
}